{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Ad Banners</h1>
    <div class="row">
        {% for banner in banners %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ banner.image.url }}" class="card-img-top" alt="{{ banner.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ banner.title }}</h5>
                    <a href="{{ banner.link }}" class="btn btn-primary" target="_blank">Visit</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
