{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<h2>Booking Dashboard</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Destination</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Travelers</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    {% for booking in bookings %}
    <tr>
      <td>{{ booking.name }}</td>
      <td>{{ booking.email }}</td>
      <td>{{ booking.destination }}</td>
      <td>{{ booking.travel_date }}</td>
      <td>{{ booking.travel_date_end }}</td>
      <td>{{ booking.number_of_travelers }}</td>
      <td>{{ booking.message }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
