{% extends 'base.html' %}

{% load static %}

{% block title %}Home - iwVoyage{% endblock %}

{% block content %}
    
        <!-- Include Navigation Menu -->
  
    {% include 'menu.html' %}
  <!-- Full-Screen Slider -->
        {% include 'index/slider.html' %} 


    <!-- "What We Do" Section (Ensured Below Slider) -->

        {% include 'index/whatwedo.html' %}

        {% include 'index/itinirary.html' %}
  
        {% include 'index/gallery.html' %}
        {% include 'index/banner.html' %}
        {% include 'index/trends.html' %}

      


{% endblock %}
