{% load static %}
<style>
/*--------------------------------------------------------------
# WHAT WE DO / sec-whatwedo-features
--------------------------------------------------------------*/

.sec-whatwedo-features {
  background-color: #ffffff;
  margin-top: 0 !important;
  padding-top: 40px;
}

.sec-whatwedo-features .feature [class^="bi-"] {
  flex: 0 0 60px;
  font-size: 50px;
  position: relative;
  margin-right: 10px;
  color: #4a4a4a;
}

.sec-whatwedo-features .feature h3,
.sec-whatwedo-features .feature .h3 {
  font-size: 18px;
  font-weight: 400;
  color: #4a4a4a;
  text-align: left;
}

.sec-whatwedo-features .feature p {
  color: #4a4a4a;
  text-align: left;
}

.sec-whatwedo-features .feature [class^="bi-"]:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: -10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.03);
}
</style>

<div class="section sec-whatwedo-features">
    <div class="container-fluid px-4">


    <div class="d-flex justify-content-center">
      <h2 style="line-height: 1.8; margin-bottom: 30px;">What We Do</h2>
    </div>

    

    <section>
        <div class="container-fluid px-5">
            <div class="row mb-4">
                <div class="col-sm-6"></div>
                <div class="col-sm-6 text-sm-end"><a href="category.html" class="read-more">View All</a></div>
            </div>
    
        <div class="row g-5">
          <!-- Column 1 -->
          <div class="col-md-4">
            <div class="feature d-flex align-items-start">
              <span class="bi-map"></span>
              <div>
                <h3>Tailor-Made Itineraries</h3>
                <p>
                  We craft personalized trips to match your interests, preferences, and budget, taking care of every detail so you can enjoy stress-free travel.
                </p>
              </div>
            </div>
          </div>

          <!-- Column 2 -->
          <div class="col-md-4">
            <div class="feature d-flex align-items-start">
              <span class="bi-sun-fill"></span>
              <div>
                <h3>Resources & Insights</h3>
                <p>
                  Discover hidden gems and unique experiences with our global expertise, guiding you to unforgettable destinations.
                </p>
              </div>
            </div>
          </div>

          <!-- Column 3 -->
          <div class="col-md-4">
            <div class="feature d-flex align-items-start">
              <span class="bi-bag-check-fill"></span>
              <div>
                <h3>24/7 Travel Support</h3>
                <p>
                  Enjoy seamless planning and support for a worry-free journey from start to finish.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

  </div>
</div>
